<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="kafkaSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<kafkaSettings>
		<add key="BootstrapServers" value="192.168.1.47:9092" />
		<add key="Topic" value="download-queue" />
		<add key="GroupId" value="Downloader" />
		<add key="OffsetReset" value="Earliest" />
		<add key="DownloadDirectory" value="D:\\Qbit" />
	</kafkaSettings>
</configuration>
